<!DOCTYPE html>
<html lang="en" ng-app="testApp">
<head>
  <meta charset="UTF-8">
  <title>Indicator</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="css/build.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/build.min.js"></script>
</head>
<body ng-controller="Controller">

  <div class="container">
    <h1>Circular Progress Indicator</h1>

    <h3>Fixed sizing</h3>
    <div class="outer-box">
      <div class="row">
        <div class="col-sm-4 inner-box">
          <circular-progress-indicator class="small-indicator" expected="expected" actual="actual"
            indicator-center-class="indicator-center"
            expected-arc-class="inner-arc" actual-arc-class="outer-arc">
          </circular-progress-indicator>
        </div>
        <div class="col-sm-4 inner-box">
          <circular-progress-indicator class="medium-indicator" expected="expected" actual="actual"
            indicator-center-class="indicator-center"
            expected-arc-class="inner-arc" actual-arc-class="outer-arc">
          </circular-progress-indicator>
        </div>
        <div class="col-sm-4 inner-box">
          <circular-progress-indicator class="big-indicator" expected="expected" actual="actual"
            indicator-center-class="indicator-center"
            expected-arc-class="inner-arc" actual-arc-class="outer-arc">
          </circular-progress-indicator>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <span class="slider-label">Expected</span>
        </div>
        <div class="col-sm-4">
          <div class="js-expected-slider slider"></div>
        </div>
        <div class="col-sm-4">
          <input type="text" ng-model="expected">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <span class="slider-label">Actual</span>
        </div>
        <div class="col-sm-4">
          <div class="js-actual-slider slider"></div>
        </div>
        <div class="col-sm-4">
          <input type="text" ng-model="actual">
        </div>
      </div>
    </div>
    
    <br>

    <h3>Responsive sizing</h3>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-5 outer-box inner-box">
        <circular-progress-indicator class="responsive-indicator" expected="expected" actual="actual"
          indicator-center-class="indicator-center"
          expected-arc-class="inner-arc" actual-arc-class="outer-arc"
          animate-on-resize="animateOnResize1">
        </circular-progress-indicator>
        <div class="toggle-animate">
          <label>
            <input class="js-toggle-animate" type="checkbox" ng-model="animateOnResize1">
            <br>Animate on resize
          </label>
        </div>
      </div>
    </div>

    <br>

    <h3>Variable sizing</h3>
    <div class="outer-box">
      <div class="row">
        <div class="col-xs-12 inner-box">
          <circular-progress-indicator class="variable-indicator js-variable-indicator"
            expected="expected" actual="actual"
            indicator-center-class="indicator-center"
            expected-arc-class="inner-arc" actual-arc-class="outer-arc"
            animate-on-resize="animateOnResize2">
          </circular-progress-indicator>
          <div class="toggle-animate">
            <label>
              <input class="js-toggle-animate" type="checkbox" ng-model="animateOnResize2">
              <br>Animate on resize
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <span class="slider-label">Indicator size</span>
        </div>
        <div class="col-sm-4">
          <div class="js-size-slider slider"></div>
        </div>
        <div class="col-sm-4">
          {{variableIndicatorSize}}
        </div>
      </div>
    </div>
  </div> <!--container-->

</body>
</html>
